<div class="container-fluid mb-5">
    <p></p>
    <h2>{{'AUDIT' | translate}}</h2>
  </div>
  
  <div>
    <table class="table table-striped">
      <tr>
        <th>{{'ID' | translate}}</th><th>{{'USER' | translate}}</th><th>{{'OPERATION' | translate}}</th><th>{{'DATE' | translate}}</th><th>{{'CHANGES' | translate}}</th>
      </tr>
      <tr *ngFor="let audit of audits">
        <td>{{audit.id}}</td>
        <td>{{audit.user}}</td>
        <td>{{audit.operation}}</td>
        <td>{{audit.date}}</td>
        <td>{{audit
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
             .changes}}</td>
      </tr>
    </table>
  </div>
  